---
import "../styles/style.css";
import Button from "./Button.astro";
---

<aside>
    <slot name="arrow"></slot>
    <div class="log-on-sign-up">
        <a href="#">Tilmeld dig</a>
        <Button variant="primary">Log på</Button>
    </div>
</aside>

<style>
    aside {
        padding: 1rem 2rem;
        display: flex;
        place-items: center;
        justify-content: space-between;
        background-color: hsl(0, 0%, 5%);
    }

    .log-on-sign-up a {
    margin-right: 2rem;
    font-weight: 500;
    color: grey;
    }
</style>
